
{deps, [
  {jiffy, "1.0.4"}, % package
  {jsone, "1.5.2"},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.4"}}}, % alternatively, source
  {pkt, ".*", {git, "https://github.com/msantos/pkt.git", {branch, "master"}}},
  {epcap, ".*", {git, "https://github.com/msantos/epcap.git", {branch, "master"}}}
]}.

