{pre_hooks, [
             {compile, "mkdir -p priv/tmp"},
             {"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd|openbsd|netbsd)", compile, "gmake -C c_src"}
            ]}.

{post_hooks, [
              {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"(freebsd|openbsd|netbsd)", clean, "gmake -C c_src clean"}
             ]}.
{deps, [
  {jiffy, "1.0.4"}, % package
  {jsone, "1.5.2"},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.4"}}}, % alternatively, source
  {pkt, ".*", {git, "https://github.com/msantos/pkt.git", {branch, "master"}}}
]}.

